.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  font-size: 1.5rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
.rotater {
  height: 40vmin;
  pointer-events: none;
}
.rotater {
  animation: rotation-spinner infinite 1s linear;
}
@keyframes rotation-spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotation{
  display: flex;
  border: solid yellow 9px;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  border-left: solid black;
  align-items: center;
  border-style: inset;
}
.rotation {
  animation: rotation-spinner infinite 1s alternate;
}
/* transform 2D */
.localization{
  width: 360px;
  height: 700px;
}
.imagesRotate{
  -webkit-transform: scale(0.8) rotate(40deg);
  -moz-transform: scale(0.8) rotate(40deg); /* para gecko */
  -o-transform: scale(0.8) rotate(40deg); /* para opera */
  transform: scale(0.8) rotate(40deg); /* para browsers sem prefixo */
}
.imagesSkew{
  -webkit-transform: scale(0.8) skew(18deg);
  -moz-transform: scale(0.8) skew(18deg); /* para gecko */
  -o-transform: scale(0.8) skew(18deg); /* para opera */
  transform: scale(0.8) skew(18deg)/* para browsers sem prefixo */
}
.imagesSkewRotate{
  -webkit-transform: scale(0.8) skew(18deg) rotate(40deg);
  -moz-transform: scale(0.8) skew(18deg) rotate(40deg); /* para gecko */
  -o-transform: scale(0.8) skew(18deg) rotate(40deg); /* para opera */
  transform: scale(0.8) skew(18deg) rotate(40deg)/* para browsers sem prefixo */
}
/* Seletores simples */
#text {
  width: 60px;
  height: 40px;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  position: relative;
  animation: text-movement 10s linear 3s infinite alternate;
}
@keyframes text-movement {
  0%   {
  background-color:red; left:0px; top:0px; color: white; transform: rotate(0deg);
  }
  25%  {
    background-color:yellow; left: 180px; top:0px;  transform: rotate(20deg); color: black;
  }
  50%  {
    background-color:blue; left:180px; top:70px; transform: rotate(40deg);
  }
  75%  {
    background-color:green; left:0px; top:70px; color: white; transform: rotate(180deg);
  }
  100% {
    background-color:red; left:0px; top:0px; transform: rotate(360deg); color: black;
  }
}

/* transform 3D */
/* Seletores simples */
#tresd {
  width: 90px;
  height: 40px;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  position: relative;
  animation: text-3d 10s linear 3s infinite alternate;
}
@keyframes text-3d {
  0%   {
  background-color:red; left:0px; top:0px; color: white; transform: rotateY(0deg);
  }
  25%  {
    background-color:yellow; left: 180px; top:0px;  transform: rotateY(20deg); color: black;
  }
  50%  {
    background-color:blue; left:180px; top:70px; transform: rotateY(40deg);
  }
  75%  {
    background-color:green; left:0px; top:70px; color: white; transform: rotateY(180deg);
  }
  100% {
    background-color:red; left:0px; top:0px; transform: rotateY(360deg); color: black;
  }
}
